<div class="container shadow-lg p-2  bg-body">
    <div class="hero-body">
        <div class="container" style="padding-left: 10%;">
            <div class="columns">
                <div class="column is-5">
                    <div class="card">
                        <img src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70" alt="Description">
                    </div>
                </div>
                <div class="column is-6">
                    <div class="card">
                        <div class="column">
                            <p class="title is-4">
                                {{product.name}}
                            </p><br>
                            <p class="subtitle is-4">
                                ${{product.price}}
                            </p>
                            <p class="subtitle is-6">
                                Memoria interna: 64gb
                            </p>
                            <button class="button is-success is-outlined">64 GB</button>
                            <button class="button is-success is-outlined">128 GB</button>
                            <button class="button is-success is-outlined">256 GB</button>
                            
                            <p class="subtitle is-7" style="padding-top: 3%;">
                                Color: {{product_detail.color}}
                            </p>
                            <div>
                                <input type="image" src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70" style="width: 70px; height:70px; border-bottom: 1px solid black;"/>
                                <input type="image" src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70" style="width: 70px; height:70px; border-bottom: 1px solid black;"/>
                                <input type="image" src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70" style="width: 70px; height:70px; border-bottom: 1px solid black;"/>
                            </div> <br>
                            <p>
                                <button class="button is-info">Buy now</button>
                                <button class="button is-info">
                                   <span class="material-icons-outlined">
                                        add_shopping_cart
                                    </span>
                                    Add to cart
                                </button>
                            </p>

                            <p class="subtitle is-7" style="padding-top: 1%;">
                                View info
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
