<div class="container shadow-lg p-3  bg-body rounded animate__animated animate__slideInUp">
    <div class="row table-success">
        <div class="col-8 mt-2">
            <h2>products</h2>
        </div>
        <div class="col mt-2">
            <select class="form-control w-75" id="category">
                <option value="all">All</option>
                <option value="clothes">Clothes</option>
                <option value="electronics">Electronics</option>
                <option value="food">Food</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>
    <hr>

</div>
<div class="container shadow-lg p-3 mt-6">
    <h1>Ofertas</h1>
    <div class="row">
        <div class="columns">
            {{#each products}}
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <img src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70"
                            alt="">
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                Price: <o>${{price}}</p>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                About <a href="#">{{supplier_id}}</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            {{/each}}
        </div>

    </div>

</div>










<div class="container shadow-lg p-3 mt-6">
    <h1>Te puede interesar</h1>
    <div class="row">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <img src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70"
                            alt="">
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                Price: <o>$500.000</p>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                About <a href="#">Seller</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <img src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70"
                            alt="">
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                Price: <o>$500.000</p>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                About <a href="#">Seller</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <img src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70"
                            alt="">
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                Price: <o>$500.000</p>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                About <a href="#">Seller</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <img src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70"
                            alt="">
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                Price: <o>$500.000</p>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                About <a href="#">Seller</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <img src="https://falabella.scene7.com/is/image/FalabellaCO/19604512_1?wid=800&hei=800&qlt=70"
                            alt="">
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                           <span>
                                Price: <o>$500.000</p>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                About <a href="#">Seller</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>

        </div>

    </div>

</div>




<script>
    const category = document.querySelector('#category');
    category.addEventListener('change', (e) => {
        alert(e.target.value);
    });
</script>